*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #877492;
    padding: 30px;
  }
  h1 {
    color: #333;
  }
  label {
    display: block;
    margin-top: 15px;
  }
  input, select, button {
    padding: 8px;
    margin-top: 5px;
    width: 100%;
    max-width: 400px;
  }
  #resultado {
    margin-top: 20px;
    font-weight: bold;
    color: green;
  }

  header{
    background: linear-gradient(70deg, #070d31, #2e0707, #5823bb);
    padding: 20px 330px;
    display: flex;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: sticky;
    top: 0;
}

nav{
    background-color: #1f0f03;
    padding: 10px;
    text-align: center;
}

nav ul{
    padding: 0;
    list-style: none;
}

nav ul li{
    display: inline;
    margin-right: 30px;
}

nav a{
    color: azure;
    text-decoration: none;
}

footer{
    margin-top: 12%;
    text-align: center;
    padding: 15px;
    background-color: #1f0f03;
    color: azure;
}

h1{
    color: aliceblue;
}

p{
    font-size: 25px;
    background-color: #66457a;
    border-radius: 10px;
    color: aliceblue;
}

label {
    background-color: #66457a;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;}

    button {
        margin-top: 25px;
        margin-left: 255px;
        padding: 10px 20px;
        background-color: #66457a;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input{
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }       

    ul li{
     list-style: none;
     margin: 15px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: aliceblue;
     font-size: 20px;
     
    }