@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body{
    margin: 0;
    padding: 0;

}

#container{
    margin: auto;
    width: 1050px;
    background: #fff;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navigation{
    background-color: blueviolet;
    color:aquamarine;
    height: 50px;

    animation-name: navegacao;
    animation-duration: 2s;
}

.navigation ul{
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    height: 50px;
}

.navigation li{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    line-height: 50px;
}

.navigation a{
    text-decoration: none;
    color: aliceblue;
}

.navigation a:hover{
    color: darkmagenta;
}

.navigation li.treeline-icon:hover{
    cursor: pointer;
    color: aquamarine;
}


.capa span{
    color: antiquewhite;
    display: block;
    padding-left: 0;
    text-align: center;
}

.capa{
    display: inline-block;
    height: 500px;
    color: black ;

}

.profile-pic{
    width: 40%;
    text-align: center;

}

.profile-pic img{
    width: 325px;
    border-radius: 80px;
    margin-top: 200px;
    border: solid black;

    animation-duration: 2s;
}

.profile-title{
    vertical-align: top;
    width: 50%;

    animation-name: titulo-capa;
    animation-duration: 4s;
}

.profile.title h1{
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 200px;
    font-weight: 400px;
}

.rodape{
    background: blueviolet;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.texto_footer{
    color: aliceblue;
    padding: 25px;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;

}

.field{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

textarea{
    height: 100px;
}

.main{
    padding-top: 90px;
    padding-right: 180px;
    padding-left: 100px;
    padding-bottom: 80px;

    animation-name: conteudo;
    animation-duration: 3s;
}

main h1{
    color: blueviolet;
    font-weight: normal;
}

main h2{
    color: blueviolet;
    font-weight: normal;
    font-size: 13px;
    background-color: #000;
    text-transform: uppercase;

}

.caminho ul{
    list-style: none;
    padding-left: 0;
    color: aquamarine;
}

.caminho li{
    display: inline-block;
}

.profile-pic img{
    width: 450px;
    border-radius: 80px;
    margin-top: 200px;


    animation-name: profile-capa;
    animation-duration: 2s
}

@keyframes profile-capa{
    0%{opacity: 0; transform: translate(0px,-20px);}
    100%{opacity: 1; transform: translate(0px, 0px)}
}

@keyframes titulo-capa{
    0%{opacity: 0; transform: translate(0px,20px);}
    100%{opacity: 1; transform: translate(0px, 0px)}    
}

@keyframes conteudo{
    0%{opacity: 0; transform: translate(-20px,0px);}
    100%{opacity: 1; transform: translate(0px, 0px)}      
}

@keyframes navegacao{
    0%{opacity: 0;}
    50%{opacity: 0;}   
    100%{opacity: 1;}   
}

@media(max-width:1000px){
    .navigation li{
        display: none;
    }

    .navigation li.treeline-icon{
        display: inline-block;
    }

    .profile-pic{
        width: 100%;
    }

    .profile-pic img{
        margin-top: 24px;
        max-width: 80%;
    }

    .profile-title{
        text-align: center;
        width: 100%;
    }

    .profile-title h1{
        margin-top: 3px;
        font-size: 30px ;
        margin-right: 20px;

    }

    .main{
        padding-top: 10px;
        padding-left: 5%;
        padding-bottom: 40px;
        padding-left: 5%;
    }

    .menujs{
        background-color: #000;
        height: auto;
    }

    .menujs ul{
        height: auto;
        text-align: center;
        padding: 15%;
    }

    .menu li{
        display: block;
        border-bottom: solid cornflowerblue ;
    }

    footer{
        background-color: #000;
        color: aqua;
        list-style: none;
        padding-left: 0;
        text-align: left;
        height: 80px;
    }

    footer:hover{
        color: blue;
    }
}

